@model Fox
@{
    ViewData["Title"] = "Home Page";
}
<img src="https://media1.tenor.com/images/6241b6a284c070ab1edcc7d347ce82f0/tenor.gif?itemid=5892118" alt="Green Fox" />

<p>Hi, I'm @Model.name!</p>
